.main-chat
  .main-chat__top
    .main-chat__top__left
      %p.main-chat__top__left__group-name group name
      %p.main-chat__top__left__member-name member name 
    .main-chat__top__right
      = link_to "#", class:"edit-btn" do
        %p.main-chat__top__right__edit Edit
  
  .main-chat__middle
    .main-chat__middle__message
      .main-chat-middle__message__upper-info
        %p.upper-info__talker name
        %p.upper-info__date 2019/12/30(Mon) 20:54:11
      %p.message__text text
    .main-chat__middle__message
      .main-chat-middle__message__upper-info
        %p.upper-info__talker name2
        %p.upper-info__date 2019/12/30(Mon) 20:54:11
      %p.message__text text2
  .main-chat__bottom
    #new-message.new-message
      .input-box
        .input-box__place-holder
          %input.input-box__place-holder{placeholder: "type a message", type: "text"}/
        .input-box__image
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file"}
      .new-massage__submit-btn Send
       
            
